/* Fix for use only flexbox in content area */
@import '../../../../styles/variables';

.next-steps .fa-link {
  margin-right: 5px;
}

.next-steps .row {
  margin-bottom: 0;
}

.next-steps .col-md-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

.feature-icon {
  width: 100px;
  height: 100px;
}

.feature-title {
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 0.13rem;
}

.feature-description {
  font-weight: lighter;
  color: $greyText !important
}