@import '../../styles/variables';

label{
  font-size: small;
  color: #777;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

button, input {
  border-radius: 4px !important
}

button {
  background: $greenText !important;
  border: solid 1px $greenText !important;
}

.form-input {
  height: 50px;
}

.hs-button {
  display: block;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  padding: 10px 24px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  color: white;
}
